.projects {
  max-width: 1000px;
}
.image-gallery-item {
  display: flex;
  align-items: center;
}

.image-gallery-description {
  max-width: 900px;
}
.image-gallery-item img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
