body {
  background-color: var(--color-background);
  font-family: "Nova Mono", monospace;
  font-weight: 600;
  font-style: normal;
  color: var(--color-text);
}
.form-control,
.form-floating {
  color: #212529;
}
